html {
  scroll-behavior: smooth;
}

/* Heading1.tsx */
.heading-1-wrapper {
  @apply text-5xl lg:text-8xl font-bold flex flex-col;
}

.heading-1 {
  @apply text-transparent bg-clip-text bg-gradient-to-tr pb-2 lg:pb-4 from-[#e0c571] via-[#aa8939] to-[#e0c571];
}

.heading-1-text {
  @apply text-black text-4xl lg:text-7xl font-light;
}

/* Heading2.tsx */
.heading-2 {
  @apply text-4xl font-semibold text-transparent bg-clip-text bg-gradient-to-tr from-[#e0c571] via-[#aa8939] to-[#e0c571];
}

.heading-2-blue {
  @apply text-4xl font-semibold text-transparent bg-clip-text bg-gradient-to-b from-[#6ed4cd] to-[#256c7d];
}

/* Heading3.tsx */
.heading-3 {
  @apply font-semibold lg:text-3xl text-2xl text-transparent bg-clip-text bg-gradient-to-tl from-[#e0c571] to-[#aa8939];
}

/* Paragraph.tsx */
.paragraph {
  @apply text-xl font-light;
}

/* ListElement */

.gold-text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-tr pb-2 lg:pb-4 from-[#e0c571] via-[#aa8939] to-[#e0c571];
}

.blue-text-gradient {
  @apply text-transparent bg-clip-text pb-2 lg:pb-4 bg-gradient-to-b from-[#6ed4cd] to-[#256c7d];
}

/* Hero.tsx */
.hero {
  background-image: url(./assets/img/background.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  overflow: hidden;
}

.hero-pic {
  background-image: url(./assets/img/image-1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0.25rem;
  overflow: hidden;
  min-height: 35rem;
  height: 100%;
  @apply lg:flex-2;
}

.hero-markdown {
  @apply lg:flex-3 bg-[#ffffffaa] rounded-sm p-8;
}

.hero-markdown div {
  @apply flex flex-col space-y-3;
}

/* ForYou.tsx */
.for-you > div,
.why-us > div {
  @apply flex flex-col space-y-2;
}

.for-you ul,
.why-us ul {
  @apply flex flex-col space-y-2;
}

/* Quote.tsx */
.quote-bg {
  @apply bg-gradient-to-t rounded-xl from-[#e0c571] via-[#967832] to-[#e0c571] text-white hidden lg:flex h-full w-full px-8 pb-8 flex-col justify-center items-center space-y-2;
}

.quote blockquote > p {
  @apply font-bold text-center text-4xl;
}

/* Manifest.tsx */
.manifest > section > div > div {
  @apply flex flex-col space-y-2;
}

/* Card.tsx */
.card-inside {
  @apply bg-gradient-to-tr from-[#6ed4cd] via-[#256c7d] to-[#6ed4cd] px-4 py-6 flex flex-col items-center justify-center;
}

.overlay-1 {
  background-image: url(./assets/img/overlay-1.jpg);
  background-size: cover;
}

.overlay-2 {
  background-image: url(./assets/img/overlay-2.jpg);
  background-size: cover;
}

/* Mastermind.tsx */
.videoconference {
  background-image: url(./assets/img/image-2.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Value.tsx */
.for-you-img {
  background-image: url(./assets/img/image-3.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Discovery.tsx */
.videoconference-2 {
  background-image: url(./assets/img/image-4.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* VideoCarousel.tsx */
.video {
  --width: 95vw;
  width: var(--width);
  height: calc(var(--width) * 0.564);
}

@media (min-width: 640px) {
  .video {
    --width: 560px;
  }
}

/* Iliana.tsx */
.iliana-img {
  background-image: url(./assets/img/image-5.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Marie.tsx */
.marie-img {
  background-image: url(./assets/img/image-6.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Loading */

.loading,
.loader:after {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.loading {
  border-top: 16px solid #d6b35b;
  border-right: 16px solid #d6b35b;
  border-bottom: 16px solid #d6b35b;
  border-left: 16px solid #fae0a0;
  background-color: #fff6df;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
